.dashboard-home-sidebar {
 background-color: #222;
 height: 100vh;
 width: 10vw;
 margin-top: 0;


 & img {
     width: 100%;
     height: 25px;
 }
}

.sidebar-icons {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}

.sidebar-icon {
    width: 100%;
    height: 75px;

    &:hover {
        background-color: grey;
    }
}

.dashboard-home-main {

}
