// Header
@import './colors';

$font-style-header-nav-item: uppercase;
$font-color-header-nav-item: $black;
$active-state-header-nav-item: 3px solid $cyan;
$font-size-header-nav-item: 18px;
$font-family-header-nav-item: 'Roboto', sans-serif;
$font-weight-header-nav-item: 300;
